@import "../node_modules/bulma/css/bulma.css";

input:focus,
a:focus,
a:hover,
.button:focus,
.button:hover {
	outline: none !important;
}

.container-custom {
	border: 1px solid grey;
	box-sizing: border-box;
}
.submit-email:hover {
	color: #fff !important;
}
