.card {
  padding: 10px 0;
}

.card-header-title {
  font-size: 25px;
  font-style: italic;
}

.header_edit {
  float: right;
  margin-right: 15px;
  margin-top: 16px;
}

.edit {
  font-size: 21px;
}

.header_delete {
  font-size: 18px;
}

.image_profileList {
  width: 35%;
  margin: auto;
  display: block;
  border-radius: 50%;
}
